<div class="new_design">
    <div class="form_design_1">

        <%= form_tag(send_reset_password_path) %>

                <!-- EMAIL -->
                <div class="input_w_icon">
                    <%=image_tag("new_icons/email_full.svg", alt:"email") %>
                    <%= email_field_tag(:email, params[:email], id: 'login_email', placeholder: 'E-mail Address', required: true) %>
                </div>
                <div class="separator20"></div>
                <!-- BUTTON -->
                <div class="form_button">
                    <%= button_tag('RESET PASSWORD', type: 'submit', class: 'fd_button prime_color') %>
                </div>

        </form>

    </div>
</div>
