<div class="new_layout forgot_pass_container">
    <div class="separator20"></div>

    <div class="form_design_1">
        <h5 style="text-align: center;">Forgot Password</h5>
        <div class="separator20"></div>

        <%= render 'forgot_password_form' %>

    </div>

    <div class="separator20"></div>
</div>