<div class="container">

    <h1>Reset Password</h1>

    <p><%= "Hey, #{@user.first_name}!  " if @user&.first_name %>Sorry you forgot your password. Enter a new one below to get logged back in.</p>

    <%= render 'reset_password_form' %>

</div>