<div class="container">

    <h1 style="text-align: center; margin-top: 20px;">Signup</h1>

    <%= render 'signup_form' %>
    <hr>
<div class="text-center">
<h4>Already a member?</h4> <a href="<%=login_path%>"> Login </a>
</div>
</div>
