$primary: #2bd6ce;
$dark_teal: #007a8d;
$grey: #a0a0a0;
$grey_line: #f7f7f7;
$dark_grey:#313131;
$middle_grey:#828282;


$project_grey:#e0e0e083;
$light_grey: #dddddd;
$light_grey: #f3f3f3;
$red: #e3494f;
$banner_color: #17a2b8;
$footer_grey: #f5f5f5;
$menu_grey: #828282;


$bill: #1cf803;
$progress_bar: #09dacf;

$menu_font: serif;
$main_font: 'Montserrat', sans-serif;


// NEW DESIGN 2022
$new_font: "Poppins", sans-serif;
$new_black: #222;
$new_light_bg: #f3f3f3;
$intercom_grey: #5c5b5b;
// $sdn_logo: #c7af86;
$sdn_logo: #2bd6ce;

// BRANDING
$off_White_5: #eeeada;
$off_White_4: #f8f5ea;
$off_White_3: #fbf9f3;
$off_White_2: #fdfcf9;
$off_White_1: #fefdfb;

$sdn_blue_4: #62d7ce;
$sdn_blue_3: #83e4de;
$sdn_blue_2: #adeeea;
$sdn_blue_1: #d3f6f5;
$sdn_blue_0: #f0fcfc;

$dark_blue_4: #347a8d;
$dark_blue_3: #5799a8;
$dark_blue_2: #75adb8;
$dark_blue_1: #96c2ca;
$dark_blue_0: #d0e3e7;
$banner_blue: #17a2b8;

$font_black_4: #222222;
$font_black_3: #4c4c4c;
$font_black_2: #656565;
$font_black_1: #aeaeae;

$secondary_4: #616060;
$secondary_3: #7a7a7a;
$secondary_2: #989797;
$secondary_1: #b7b6b6;
$secondary_0: #d7d7d7;

$gold_dark: #ac9967;
$gold: #e0d4ae;

// NEW DESIGN
$light_grey: #f3f3f3;
$middle_grey: #868686;
