:root {
  --darkblue: #007a8d;
  --brand: #2bd6ce;
  --secondary: #616060;
  --offwhite: #f8f8f8;
  --offblack: #313131;
  --darkgrey: #3b3b3b;
  --main-font: 'Montserrat', sans-serif;
  --p:  'Montserrat', sans-serif;
}