<!-- Quickview Modal -->
<div class="modal fade" id="quickview">
    <div class="modal-dialog modal-xl">   
	<div class="modal-content w-100">
            <button type="button" class="close text-right m-2" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	    </button>
            <div class="modal-body" id="qv_body"></div>
            <div class="modal-footer  d-sm-none">
        <button type="button" class="btn btn-outline-secondary w-50 m-auto" data-dismiss="modal">Close</button>
        </div>
	</div>
    </div>
</div>
