<section class="marketplace-section">
    <div class="home-titles">
        <h3>Service Rates</h3>
    </div>
    <hr class="title-line">
    <div class="row">
        <div class="col service-list delivery_service_table">
            <div class="rates_title">
                <h4>Delivery & Destage | One-way Rates</h4>
            </div>
   
            <table class="table table-sm text-left rate-table">
                <thead>
                    <tr>
                        <th>Order Value</th>
                        <th>Delivery</th>
                        <th>Destage</th>
                        <th>Minimum hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Hourly rate</th>
                        <td>$100/hr</td>
                        <td>$100/hr</td>
                        <td>2.5 hours</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h6 class="text-center" data-toggle="modal" data-target="#delivery_terms">Read Terms and Conditions</h6><br><br>
            <p>**We start the clock when we leave the Fulfillment Center or the previous job and stop the clock on site upon completion of your project.**</p>
        </div>
        <div class="modal fade" id="delivery_terms" role="dialog"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="text-modal delivery_modal_text">
                        Concierge Services are billed at $25 per 15 minutes of labor and must be requested at the time of your order so we may schedule in the time for your project.<br>
                        Order Value – Order value is based on the pre-tax dollar value of the rental items at the time of the appointment. For example, an order that qualifies for free Delivery may not qualify for free Destage if items have been returned or transferred dropping the order value below $1000. The value of multiple order numbers delivering at the same time to the same address will be combined to determine total delivery value.<br>
                        Additional Fees – Ferry tickets and extra time will be applied to the delivery cost regardless of order size.<br>
                        Extra mileage - Every mile greater than 20 miles (Seattle) or 40 miles (Phoenix) from the Fulfillment Center closest to your address. Extra mileage is calculated using the one-way driving distance from the closest Fulfillment Center to the address using route planning software. For example, if your stage is 32 miles from our closest fulfillment center, we will bill 12 extra miles at the stated rate<br>
                        Optional Extra Time - Any activity outside of the single placement of items on the order, see Concierge Services above for lists of additional activities. Extra Time must be requested in advance to ensure we plan the time into the schedule and will be charged in 15-minute increments.
                    </div>
                </div>
            </div>
        </div>

        <div class="col service-list delivery_service_table">
            <div class="rates_title">
                <h4 class="text-left">Will Call Options</h4>
            </div>
            
            <table class="table table-sm text-left rate-table">
                <thead>
                    <tr>
                        <th>Load Type</th>
                        <th>Cost</th>
                        <th>Straps</th>
                        <th>Bins</th>
                        <th>Blankets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Self-Load</th>
                        <td>$0</td>
                        <td>$12</td>
                        <td>$5</td>
                        <td>$10</td>
                    </tr>
                    <tr>
                        <th>re|Furnish-Load</th>
                        <td>$75</td>
                        <td>$12</td>
                        <td>$5</td>
                        <td>$10</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="rates_title">
                <h4 class="text-left">Transfer Fees</h4>
            </div>
            
            <table class="table table-sm text-left rate-table">
                <thead>
                    <tr>
                        <th>Order Value</th>
                        <th>Transfer Rate</th>
                        <th>Extra Mileage</th>
                        <th>Optional Extra Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>All Orders</th>
                        <td>$100/hr - 2.5 hours minimum</td>
                        <td>$3.95/mi</td>
                        <td>$100/hr</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>
