<div class="contact-banner shop-banner-1 container-fluid no-padding">
	<div class="page-banner-content">
		<h3>Contact</h3>
	</div>
</div>

<div class="space_between_sections"></div>

<div class="section_title">
	<h2>Seattle Metro</h2>
	<div class="title_underline"></div>
</div>
<div class="separator10"></div>

<div class="contacts_container">
	<h4 class="contacts_subtitle">Call</h4>
	<h6><a href="tel:425-697-3045">(425) 697-3045</a> | Main Number</h6>
	<div class="separator20"></div>
	<div class="separator20"></div>
	<h4 class="contacts_subtitle">Email</h4>
	<h6><a href="mailto:support@r-e-solved.com">support@r-e-solved.com</a> | Customer Support</h6>
</div>

<div class="space_between_sections"></div>
<div class="space_between_sections"></div>