<div class="container">
    <div class="home-titles">
        <h3>Services with SDN During COVID-19</h3>
    </div>
    
    <hr class="title-line">

    <blockquote class="text-center  alert-secondary p-4  m-auto w-75 mb-3">
        <h5>COVID Guidance for the Northwest as of January 2021</h5>
        <p>
            &ldquo;In-person activities must be by appointment only.  Face coverings are required to be worn at all times by
            real estate brokers, their clients, and industry partners (e.g. appraisers, inspectors, photographers,
            stagers, etc.).  No more than five (5) people, in addition to the broker, may be on site at any one time.
            And those persons must strictly follow social distancing guidelines by remaining at least six feet apart
            at all times.&rdquo;            
        </p> 
        <footer class="blockquote-footer">
            Revised Nov 15th, 2020 |
            <cite title="Source Title"></cite>
            <a href="https://www.warealtor.org/docs/default-source/coronavirus/wr-nwmls-faqs-111520.pdf?sfvrsn=2" target="_blank"> Read Full Report </a></footer>
    </blockquote>
    
    <hr>

    <div class="letter">
        <p class="larger">
            On a personal note, we are grateful for the grace with which we have all worked together through this pandemic.
            We never imagined that this quarantine would continue for so long, or that we could support record real estate
            sales during a lockdown.  But we have been proud to work with you in new ways that keep us all safe while we
            keep staging beautifully!
        </p>
        <p class="larger">
            We want to assure you that we put your safety and that of our employees first.  We have put the following COVID
            policies in place to support you during the pandemic.  Feel free to reach out with any questions.
        </p>
        <ul>
            <li>
                <p class="larger">
                    DELIVERY: Our delivery teams will wear masks and will practice social distancing in the home.  We also
                    now offer paperless signing via text to enable contactless delivery.
                </p>
                <p class="larger">
                    If restrictions tighten, we may need to reduce our moving teams to two movers vs our normal three, and
                    will need to ask for your patience as deliveries may take a little longer under those circumstances.
                    Will call appointments for you or your third party movers will be available if lockdown is impacting
                    your schedule.  We appreciate the urgent nature of this business. And the health of your clients, you,
                    and our team remains a top priority.
                </p>
            </li>
            <li>
                <p class="larger">
                    SCHEDULING: We will respond to any new COVID restrictions on staging activities and the scheduling
                    changes that they bring about as swiftly as we can.   In these cases, new orders will be prioritized
                    by order date and destages will be prioritized by the listing closing date.  As always, we pride ourselves
                    on customer service and will work with you to serve your clients’ needs as best we can.
                </p>
                <p class="larger">
                    Any scheduling requests should go to <a href="mailto:support@sdninc.net">support@sdninc.net</a>.
                </p>
            </li>
            <li>
                <p class="larger">
                    BILLING: If staging activities are paused due to COVID restrictions (which did happen early in the pandemic,
                    but we don’t expect at this point), we will not bill you for destaging delays caused by a COVID shutdown in
                    staging activity.
                </p>
                <p class="larger">
                    Any billing concerns should go to <a href="mailto:billing@sdninc.net">billing@sdninc.net</a>.
                </p>
            </li>            
        </ul>        
        <p class="larger">
            We are doing our best to navigate this extraordinary situation with you and appreciate your extra patience,
            caution, and kindness.
        </p>
        <p class="larger">
            Your entire SDN TEAM!
        </p>
    </div>
</div>
