<div class="container">
<div class="home-titles">
<h2>Member Owned Inventory Program</h2>
<hr class="title-line" />
</div>

<p>	We have made changes to our Member Owned Inventory and now managing your inventory is even easier! Effective August 1st, when your item rents at least once every 90 days, you won’t incur a storage fee.  If your item sits idle for more than 90 days, it will incur a $.03 per cubic foot daily fee until it goes out on a new rental.  As soon as it rents, your daily fee stops!  When the item returns to the warehouse, you will get another 90 days of free storage between rentals.</p><p>
Your warehouse expense could be brought down to ZERO as long as your item rents at least once every 90 days!  We have waived your monthly catalogue fees and membership fees and in exchange we’ve changed the commission from 35% to 30%.  If an item is marked private, you will incur a $.03 per cubic foot daily fee which is billed monthly.  We believe this program to be mutually beneficial and will help our members keep items in the rental pool that make commissions.
</p><p>We’ve also made managing your inventory on your account page easier.  You can see what each item’s daily storage fee is after the 90 days and how many days since it last rented.  That way you can decide if the time is right to remove an item.</p>
<hr>
<h3>Frequently asked questions:</h3>

<p>As long as your items are shared and rent once every 3 months, you will have no storage fees.  When items in your inventory are private, they will incur the daily storage fee of $.03 per cubic foot.  We removed catalogue fees and member fees so as long as your item rents once every 90 days, you will only make commissions on those items. You can manage your inventory and see the storage cost of each item on your account.</p>

<h4>What if I want to remove an item that isn’t renting and about to incur storage fees?</h4>
<p>Removing your item is easy, all you need to do is rent your item that is 70% of the rental cost.  You won’t be charged for that item again, it will not renew the second month and is yours to keep. Schedule a will call pick up and let us know you are taking the item out of the rental pool so we can mark it as inactive. If you would like to donate your item that hasn’t been renting, we are happy to donate it for you and provide you with the tax receipt.  We are also happy to evaluate with you why an item isn’t renting and what we can do to help it do so. </p>

<h4>What is the difference between private and reserved?</h4>
<p>There is no difference between the two, we have made a name change to make it more clear about your private collection of inventory and your shared inventory.</p>

<h4>How is this affecting items marked as Private?</h4>
<p>Items marked as private are charged the daily rate of $.03 per cubic foot for each day that they are in the warehouse.  Storage fees are billed monthly.  You can see the daily cost of each item when you log into your account on our website.</p>
