<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <style>
    /* Define any styles needed for the PDF layout */
    body {
      font-family: Arial, sans-serif;
      font-size: 12px;
      
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>

